* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgb(230, 230, 230);
	font-size: 16px;
}

.adiciona {
	padding: 20px;
}

.adiciona a, td a {
	display: block;
	color: rgb(255, 0, 0);
}

a {
	display: block;
	color: rgb(182, 182, 182);
	text-decoration: none;
}

#admin, #corporativo {
	font-size: 0.8em;
	color: whitesmoke;
}

.label {
	text-align: center;
	padding: 20px;
	margin-top: 50px;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}

th, td {
    border: 2px solid black;
    padding: 8px 15px ;
}

#titulo {
	font-size: 1.6em;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: red;
}

.topbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(43, 43, 43);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
	z-index: 4;
	overflow: visible;
}

.linkTopoEsquerda {
	float: left;
	padding: 14px 16px;
}

.linkTopoDireita {
	float: right;
	text-align: center;
	list-style-type: none;
}

.linkTopoDireita:hover {
	background-color: rgba(175, 0, 0, 0.349);
}

.linkTopoDireita a {
	padding: 20px 16px;
}

.linkTopoDireita:hover a {
	color: whitesmoke;
}

.nomeTopoDireita {
	float: right;
	text-align: center;
	padding: 20px 16px;
	list-style-type: none;
	position: relative;
}

.nomeTopoDireita > span {
	color: rgb(182, 182, 182);
}

.dropdown  {
	display: none;
	position: absolute;
	top: 58px;
	right: 0;
	background-color: rgb(43, 43, 43);
}

.nomeTopoDireita:hover .dropdown {
	display: block;
}

.nomeTopoDireita:hover, .dropdown:hover {
	background-color: rgba(175, 0, 0, 0.349);
}

.dropdown:hover {
	background-color: #591c1c;
}

.dropdown li {
	width: 100%;
	float: right;
	list-style-type: none;
}

.dropdown li a {
	padding: 20px 16px;
}

.dropdown li:hover a, .nomeTopoDireita:hover span {
	color: whitesmoke;
}

#carros {
	margin: auto;
	width: 70%;
	margin-top: 100px;
}

.box {
	border: 20px solid rgba(255, 255, 255, 0);
	position: relative;
	cursor: pointer;
}

.card {
	width: 100%;
	background-color:rgb(250, 250, 250);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
    transition: all 0.2s ease;
	position: relative;
}

.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.dadosCarro {
	padding: 20px;
	list-style: none;
}

.oferta {
	font-size: 1.5em;
	font-weight: bold;
	color: red;
	text-align: end;
}

.modelo {
	font-size: 1.1em;
	font-weight: 900;
	text-align: end;
}

.container {
	overflow: hidden;
	height: 250px;
}

.container > img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0;
	width: 100%;
}

#filtro, #numero, #legendaN {
	background-color:rgba(250, 250, 250, 0.603);
	border-radius: 2px;
	border-color: rgba(0, 0, 0, 0);
	height: 40px;
	font-size: 1.1em;
	padding: 10px;
}

#numero, #legendaN {
	float: right;
	color: #757575;
}

#divFiltro {
	margin: 20px;
	position: relative;
}

#crudLinks {
	background-color: rgb(43, 43, 43);
	margin: auto;
	color: bisque;
	border: 2px solid rgb(32, 32, 32);
	border-radius: 20px;
	text-align: center;
	width: 600px;
	height: 300px;
	margin-top: 200px;
}

.crud {
	padding: 20px;
	font-size: 3em;
}

@media (min-width: 1301px) {
    .box {
        float: left;
        width: 25%;
    }
}

@media (min-width: 901px) and (max-width: 1300px) {
    .box {
        float: left;
        width: 33.33%;
    }
	#carros {
		width: 80%;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
    .box{
		float: left;
        width: 50%;
    }
	#carros {
		width: 95%;
	}
}

@media (max-width: 499px) {
    .box{
		clear: both;
        width: 100%;
    }
	#carros {
		width: 95%;
	}
}

.bodyLogin {
	margin: auto auto;
}

.tituloLogin {
	font-size: 35px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: red;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.boxLogin {
	display:flex;
	background: #c2c0c0;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 450px;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
}

.camposLogin {
	width:300px;
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 6px;	
	margin-bottom: 40px;
}

.botaoLogin {
	width:300px;
	border: 2px solid black;
	border-radius: 30px;
	background: black;
	color: white;
	cursor: pointer;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s all;
}

.botaoLogin:active {
	background: red;
}

#erro {
	justify-content: center;
	display: flex;
	margin-top: 50px;
}

#erro ul {
	color: red;
    list-style-type: none;
    margin: 50px;
    background-color: #591c1c;
    width: fit-content;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.2em;
}

#voltar {
	background-color: rgb(43, 43, 43);
	border-radius: 16px;
	padding: 10px;
	width: fit-content;
}